* {
    font-family: 'Open Sans', sans-serif;
}

html, head, body{
    margin:0;
    padding:0;
    border:none;
}
html{
    background-color: #808080;
    padding: 20px;
    border:none;
    position: relative;
    min-height: 100%;
}

body{
    padding-top: 100px;
    background-color: #808080;
    margin-bottom: 100px;
}

h1 {
    font-family: 'Helvetica Nue', sans-serif;
    color: black;
    letter-spacing: 4px;
    font-weight: bold;
    margin:0;
}

h2 {
    font-family: 'Helvetica Nue', sans-serif;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}


#navbar{
    padding: 20px;
    height: 30px;
   
    list-style-type:none;
}


#navbar li {
    float:left;
}

#navbar li a{
    display: block;
    padding: 5px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#808080;
    text-decoration: none;
}
#navbar li ul {
    display: none;
    background-color:#D3D3D3;
    list-style-type: none;
    
}

#navbar li:hover ul {
    display: block;
    position: absolute;
    margin-left:0;
    margin-top:0px;
    padding:0;
    
}

#navbar li:hover {
    background-color: #D3D3D3;
}

#navbar li:hover li {
    float:none;
    position:relative;
    background-color:#D3D3D3;
    
}

#navbar li:hover ul li a {
    padding: 5px;
    display:block;
    width:200px;
    text-indent: 10px;
    background-color:#D3D3D3;
}

#navbar li:hover ul li a:hover {
    background-color:white;
}

.r_header{
    padding-top: 20px;
    padding-bottom: 50px;

}
.r_content{
    padding-top: 100px;
    padding-bottom: 100px;
}
.gray{
    background-color: #808080;
    padding: 0px;
}

.btn{
    color:#808080;
    margin:10px;
    padding:10px;
}

.bottom{
    padding:30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container-fluid .text-muted {
  margin: 20px 0;
}

#logo {
    width:50px;
    float:left;
    padding-right: 10px;
    padding-top: 10px;
}

.navbar > .container .navbar-brand {
    margin-left: 5px;
    padding-top:20px;
}